/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #274D6C;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #65B5C7;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background: rgba(182, 191, 198, 0.7);
  display: block;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #fff;
  padding: 12px 0;
  box-shadow: 0 0 6px 0 #B6BFC6;
}

#header .logo {
  margin: 0;
  padding: 0;
}

#header .logo img {
  max-height: 50px;
}

@media (max-width: 992px) {
  #header {
    padding: 8px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0 0 0 70px;
  list-style: none;
}

.nav-menu>ul {
  display: flex
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 12px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(39, 77, 108);
  transition: 0.3s;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 3px;
}

.nav-menu>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #274D6C;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover>a:before, .nav-menu .active>a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
  color: #274D6C;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #274D6C;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a, .nav-menu .drop-down ul li:hover>a {
  color: #65B5C7;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: -10px;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #274D6C;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #274D6C;
}

.get-started-btn:hover {
  background: #65B5C7;
  color: #274D6C;
  border-color: #274D6C;
}

@media (max-width: 990px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #274D6C;
}

.mobile-nav {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #274D6C;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: capitalize;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
  color: #65B5C7;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(4, 7, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) {
  #intro {
    height: 150vh;
  }
}

#intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 150px;
  top: 0;
  left: 50px;
  right: 50px;
}

#intro .container {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-top: 250px;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0 40px 0;
  overflow: hidden;
}

.section-title span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  display: block;
  color: #274D6C;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #274D6C;
  text-transform: uppercase;
}

.section-title span:after {
  content: "";
  position: absolute;
  width: 140px;
  bottom: -5px;
  right: 0;
  width: 30px;
  background: #274D6C;
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 10px;
}

.section-title p {
  padding-bottom: 30px;
}

/*--------We do section---------*/
.about {
  position: relative;
}

.about p {
  line-height: 1.8;
  font-weight: 500;
  font-size: 17px;
  color: #777;
}

.about h2 {
  font-weight: 700;
  font-size: 22px;
  color: #333;
}

@media (max-width: 1208px) {
  .about .shape {
    left: -100px;
  }
}

@media (max-width: 248px) {
  .about img {
    padding-left: 100px;
  }
}

/*--------------------------------------------------------------
# About Boxes
--------------------------------------------------------------*/
.about-boxes2 {
  background: url("../img/about-boxes-bg2.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 300px 0;
  position: relative;
}

.about-boxes3 {
  background: url("../img/about-boxes-bg3.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 300px 0;
  position: relative;
}

.about-boxes4 {
  background: url("../img/about-boxes-bg4.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 300px 0;
  position: relative;
}

/*--------------------------------------------------------------
# team
--------------------------------------------------------------*/
#team {
  padding-top: 100px;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(182, 191, 198, 0.7);
}

.team .member img {
  margin: -2px -2px 10px -2px;
  border: 1px solid rgba(182, 191, 198, 0.5);
}

.team .member .member-content {
  padding: 0 5px 10px 5px;
}

.team .member h4 {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 17px;
}

.team .member span {
  display: block;
  font-size: 13px;
  font-weight: 500;
}

.team .member .social {
  margin-top: 5px;
}

.team .member .social a {
  color: #274D6C;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #65B5C7;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# feature
--------------------------------------------------------------*/
.feature {
  background-size: cover;
  text-align: center;
}

.feature::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.feature .container {
  position: relative;
}

@media (min-width: 1024px) {
  .feature {
    background-attachment: fixed;
  }
}

.feature .feature-carousel {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 10px;
}

.feature .event-item {
  color: #777;
}

.feature .event-item h3 {
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
  color: #333;
  text-align: center;
}

.feature .event-item p {
  font-weight: 500;
  font-size: 17px;
  color: #777;
  line-height: 1.8;
}

.feature .event-item ul {
  list-style: none;
  padding: 0;
}

.feature .event-item ul li {
  padding-bottom: 10px;
}

.feature .event-item p:last-child {
  margin-bottom: 0;
}

.feature .owl-nav, .feature .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.feature .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #B6BFC6 !important;
}

.feature .owl-dot.active {
  background-color: #274D6C !important;
}

@media (min-width: 992px) {
  .feature .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 10px;
  height: 190px;
}

.contact .info-box i {
  font-size: 30px;
  color: #274D6C;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #B6BFC6;
}

.contact .info-box h3 {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  padding-top: 10px;
}

.contact .info-box p {
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #777;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(182, 191, 198, 0.5);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 17px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #fff;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #274D6C;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #65B5C7;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-size: cover;
  background-color: #274B6C;
  color: #fff;
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

#footer .container {
  position: relative;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 16px;
  font-weight: 500px;
  display: inline-block;
  background: #274B6C;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border: 1px dotted #fff;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  border: #65B5C7;
  color: #65B5C7;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .copyright span {
  color: #65B5C7;
}

#footer .credits {
  font-size: 14px;
}

#footer .credits a {
  color: #fff;
}

#footer .credits a:hover {
  color: #65B5C7;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 0;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-services .card-body {
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title {
  color: #fff;
}

.more-services .card-text {
  color: #fff;
}

.more-services .card:hover .card-body {
  background: #274D6C;
}

.more-services .card:hover .card-title, .more-services .card:hover .card-title a, .more-services .card:hover .card-text {
  color: #fff;
}

/*------------Imprint-----------*/
#imprint {
  padding-top: 100px;
}
/*--------------------------------------------------------------
# Choose language
--------------------------------------------------------------*/
#choose-language {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*--------------------------------------------------------------
# Under construction
--------------------------------------------------------------*/

#under-construction {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#under-construction h2 {
  margin-top: 40px;
  color: #274D6C;
}

/*--------------------------------------------------------------
# Holland quiz form
--------------------------------------------------------------*/

.rating-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.4rem 0.8rem;
	width: 100%;
}

.rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
}

.rating {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}

svg {
	fill: rgb(242, 242, 242);
	height: 3.6rem;
	width: 3.6rem;
	margin: 0.2rem;
}

.rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

